---
import type { PostgrestSingleResponse } from "@supabase/supabase-js";
import type { Challenge } from "../supa";
import Layout from "../layouts/Layout.astro";
import { getChallenge } from "../supa";

const challenge: PostgrestSingleResponse<Challenge[]> = await getChallenge(
  Astro.request
);

const mostRecentFrom: string | null = challenge.data
  ? challenge.data[0].from
  : null;
const mostRecentTo: string | null = challenge.data
  ? challenge.data[0].to
  : null;
---

<style>
  main {
    z-index: 1;
  }

  /* Define the initial scale for the image */
  .grow-on-hover {
    transition: transform 0.3s ease-in-out;
  }

  /* Apply the scale transformation on hover */
  .grow-on-hover:hover {
    transform: scale(1.1);
  }

  /* Rm our animations for users who have reduced motion preference setting */
  @media screen and (prefers-reduced-motion: reduce) {
    .animate {
      animation: none !important;
    }
  }

  .animate {
    animation-duration: 0.3s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
  }

  @keyframes animate-fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate {
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
  }

  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }

    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }
</style>

<Layout title="WikiHop App">
  <main class="sm:px-4 px-8 text-lg max-w-4xl mx-auto">
    <div class="flex justify-center flex-col items-center my-8">
      <h1 class="sm:text-8xl text-6xl font-bold text-center mb-6">WikiHop</h1>
      <div class="animate flex justify-center flex-col items-center">
        <p class="text-center sm:text-2xl text-xl mb-4 text-neutral-400">
          Take a journey through Wikipedia with a daily challenge! Navigate from
          one page to another using the fewest clicks in the shortest amount of
          time.
        </p>
        <!-- TODO: replace with real link once published -->
        <a href="https://apps.apple.com/us/">
          <img
            class="grow-on-hover w-[180px] drop-shadow-2xl"
            src="/app-store.svg"
            alt="Apple App Store Link"
          />
        </a>
      </div>
    </div>

    {
      mostRecentFrom && mostRecentTo ? (
        <div class="text-center animate pb-4">
          <h2 class="sm:text-5xl text-4xl font-bold mb-6">Latest Challenge</h2>

          <p class="sm:text-2xl text-xl">
            WikiHop from{" "}
            <a
              href={"https://en.wikipedia.org/wiki/" + mostRecentFrom}
              class="font-bold text-blue-400 hover:text-blue-100 underline underline-offset-4 transition duration-300 ease-in-out"
            >
              {mostRecentFrom}
            </a>
            to{" "}
            <a
              href={"https://en.wikipedia.org/wiki/" + mostRecentTo}
              class="font-bold text-blue-400 hover:text-blue-100 underline underline-offset-4 transition duration-300 ease-in-out"
            >
              {mostRecentTo}
            </a>
          </p>
        </div>
      ) : null
    }
  </main>
</Layout>
