---
import type { Database } from "../../database.types";
import Layout from "../layouts/Layout.astro";
import { getChallenge } from "../supa";

const challenge = await getChallenge(Astro.request);
---

<Layout title="WikiHop App Landing Page">
  <main
    class="text-lg px-8 lt-xs:px-4 max-w-4xl mx-auto flex justify-center flex-col items-center"
  >
    <h1 class="text-8xl font-bold text-center m-8">WikiHop</h1>
    <p class="text-2xl mb-4 text-neutral-400">
      Some really cool description here. Available on iPhone, iPad, and Mac.
    </p>
    <!-- TODO: replace with real link once published -->
    <a class="inline-block mb-12" href="https://apps.apple.com/us/">
      <img class="w-40 drop-shadow-lg" src="/app-store-button-ios.svg" />
    </a>
    <!-- SLAP IN AN IPHONE -->
    <h2 class="text-3xl">Latest Challenge</h2>

    <blockquote>
      WikiHop from <span class="font-bold"
        >{challenge.data ? challenge.data[0].from : null}</span
      >
      to <span class="font-bold"
        >{challenge.data ? challenge.data[0].to : null}</span
      >
    </blockquote>
  </main>
</Layout>

<style></style>
