---
import type { PostgrestSingleResponse } from "@supabase/supabase-js";
import type { Challenge } from "../supa";
import Layout from "../layouts/Layout.astro";
import { getChallenge } from "../supa";

const challenge: PostgrestSingleResponse<Challenge[]> = await getChallenge(
  Astro.request
);

const mostRecentFrom: string | null = challenge.data
  ? challenge.data[0].from
  : null;
const mostRecentTo: string | null = challenge.data
  ? challenge.data[0].to
  : null;
---

<Layout title="WikiHop App Landing Page">
  <main class="sm:px-4 px-8 text-lg max-w-4xl mx-auto">
    <div class="flex justify-center flex-col items-center mb-20">
      <h1 class="sm:text-8xl text-6xl font-bold text-center mt-8 mb-6">
        WikiHop
      </h1>
      <p class="text-center sm:text-2xl text-xl mb-4 text-neutral-400">
        Some really cool description here. Available on iPhone, iPad, and Mac.
      </p>
      <!-- TODO: replace with real link once published -->
      <a href="https://apps.apple.com/us/">
        <img
          class="w-[180px] drop-shadow-2xl"
          src="/app-store.svg"
          alt="Apple App Store Link"
        />
      </a>
    </div>

    <!-- SLAP IN AN IPHONE -->
    {
      mostRecentFrom && mostRecentTo ? (
        <div class="text-center">
          <h2 class="sm:text-6xl text-4xl font-bold mb-6">Latest Challenge</h2>

          <p>
            WikiHop from <span class="font-bold">{mostRecentFrom}</span>
            to <span class="font-bold">{mostRecentTo}</span>
          </p>
        </div>
      ) : null
    }
  </main>
</Layout>
