---
import Layout from "../layouts/Layout.astro";
---

<Layout title="WikiHop App Landing Page">
  <main class="px-8 lt-xs:px-4 max-w-3xl mx-auto">
    <h1 class="text-3xl text-center">WikiHop</h1>
    <p>Some details about the app here.</p>
    <p>Available on iPhone, iPad, and Mac</p>
  </main>
</Layout>
