<nav
  class="sm:px-4 sm:space-x-8 px-2 space-x-4 text-lg flex justify-around p-4"
>
  <div class="font-bold">
    <a href="/">WikiHop</a>
  </div>
  <div class="flex-1"></div>
  <div>
    <a
      class="underline underline-offset-4"
      href="https://github.com/maxdemaio/WikiHopLanding">Landing</a
    >
  </div>
  <div>
    <a href="https://github.com/boek/WikiHop">App</a>
  </div>
</nav>
